.card{

    width: 90%;
    height: 450px;
    padding: 2%;
    margin: 2%;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p{
    font-size: small;
}


img{
    width: 80%;
    height: auto;
}