

  .menuE ul {
   

    list-style-type: none;
    margin: 10;
    padding: 0;
    display: flex;
    
    
    
  }
 a{
  text-decoration: none;
  color: white;
 }

  
  .menuE ul li {
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    
    
  }
  
  .menuE ul li.active {
    background-color: #f0ab22;
  }
  
  .menuE ul li:hover {
    background-color: #ffcf40;
  }

  .menuE{
    background-color: #eb9a0d;
    flex-direction: row;
    display: flex;
    align-items: center;
  
    justify-content: space-around;
    
  }
  
  .menuE img{
    width: 55%;
  }